<header class="header d-flex space align-center">
	<h2 class="nav-title"><a href="/admin/<%= user._id %>">Admin Authentication</a></h2>

	<div>
		<nav class="navigation align-center d-flex">
			<a class="nav-link" href="/admin/users">All User</a>
			<a class="nav-link" href="/logout/admin">Logout</a>
		</nav>	
	</div>	
</header>