
<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
<body>

	<header class="header d-flex space align-center">
		<h2 class="nav-title"><a href="">User Authentication</a></h2>

		<div class="d-flex align-center">
			<img src="/assets/images/img.png" class="photo">
		</div>
	</header>

	<div class="user-container">
			<div class="d-flex align-center space">
				<h3 class="text">Welcome Heebrymovic</h3>
				<a  class="link logout" href="">LogOut</a>	
			</div>
			

			<div class="table-wrapper">
				<table class="table">
					<caption>User Profile</caption>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Password</th>
						<th>Role</th>
						<th>Picture</th>
					</tr>
					<tr>
						<td>Helo</td>
						<td>Helo</td>
						<td>Helo</td>
						<td>Helo</td>
						<td>Helo</td>
					</tr>
				</table>				
			</div>

	</div>
		
</body>
</html>