<!DOCTYPE html>
<html>
	<%- include("./partials/head") %>
<body>


	<div class="wrapper">
			<div class="container-wrapper">
				<h2 class="text">Developer Registration For Api</h2>

				<div id="message"></div>

				<div class="form-wrapper">
					<form id="form" class="d-flex form flex-col">
						<div class="form-group d-flex flex-col">
							<label class="label">Email</label>
							<input type="email" class="input" id="email" name="email" required>
						</div>

						<div class="form-group d-flex flex-col">
							<label class="label">Host website</label>
							<input type="text" class="input" id="host" name="host" required>
						</div>

						<div class="form-group d-flex flex-col">
							<button class="form-btn">Register For Api</button>
						</div>
					</form>
				</div>

				<a href="/" class="link">Go Home</a>
			</div>
		</div>	


</body>
</html>