
<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
<body>

		<div class="wrapper">
			<h2 class="text-heading">Basic User Authentication and Protected Route Using NodeJs And JWT</h2>

			<div class="d-flex home-link-wrapper flex-col align-center">
				<div>
					<a class="home-link" href="/login">Login</a>
				</div>

				<div>
					<a class="home-link" href="/register">Register</a>	
				</div>	

				<div>
					<a class="home-link" href="/developers">Developers</a>	
				</div>	

				<div>
					<a class="home-link" href="/dev/api">Use Api</a>	
				</div>				
			</div>
		</div>
</body>
</html>